.t1 {background-image:url(/static/fbte/img/1.png);}
.t2 {background-image:url(/static/fbte/img/1.png);}
.t3 {background-image:url(/static/fbte/img/1.png);}
.t4 {background-image:url(/static/fbte/img/1.png);}
.t5 {background-image:url(/static/fbte/img/1.png);}
.tt1 {background-image:url(/static/fbte/img/4.png);}
.tt2 {background-image:url(/static/fbte/img/4.png);}
.tt3 {background-image:url(/static/fbte/img/4.png);}
.tt4 {background-image:url(/static/fbte/img/4.png);}
.tt5 {background-image:url(/static/fbte/img/4.png);}
.c1 {background-image:url(/static/fbte/img/fb.jpg);}
.c2 {background-image:url(/static/fbte/img/fb.jpg);}
.c3 {background-image:url(/static/fbte/img/fb.jpg);}
.c4 {background-image:url(/static/fbte/img/fb.jpg);}